<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <sectionGroup name="system.serviceModel">
      <section name="domainServices"
               type="System.ServiceModel.DomainServices.Hosting.DomainServicesSection, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
               allowDefinition="MachineToApplication"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="AFRP_Local"
         providerName="System.Data.SqlClient"
         connectionString="Server=.;Database=AFRP;Persist Security Info=True;User ID=UniCloud;Password=26344DB3960DD7C73A93F6EDFA95BEC0;Pooling=true;Max Pool Size=200;Min Pool Size=0" />
    <add name="AFRP_Test"
         providerName="System.Data.SqlClient"
         connectionString="Server=192.168.18.30;Database=AFRP;Persist Security Info=True;User ID=UniCloud;Password=26344DB3960DD7C73A93F6EDFA95BEC0;Pooling=true;Max Pool Size=200;Min Pool Size=0" />
    <add name="AFRP_Product"
         providerName="System.Data.SqlClient"
         connectionString="Server=192.168.18.5;Database=AFRP;Persist Security Info=True;User ID=UniCloud;Password=26344DB3960DD7C73A93F6EDFA95BEC0;Pooling=true;Max Pool Size=200;Min Pool Size=0" />
  </connectionStrings>
  <system.web>
    <compilation debug="true"
                 targetFramework="4.0" />
    <httpRuntime maxRequestLength="20480" />
    <httpModules>
      <add name="DomainServiceModule"
           type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpModules>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <domainServices>
      <endpoints>
        <add name="soap"
             type="Microsoft.ServiceModel.DomainServices.Hosting.SoapXmlEndpointFactory, Microsoft.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="JSON"
             type="Microsoft.ServiceModel.DomainServices.Hosting.JsonEndpointFactory, Microsoft.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </endpoints>
    </domainServices>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
                               multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="DomainServiceModule"
           preCondition="managedHandler"
           type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework"
                          publicKeyToken="b77a5c561934e089"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0"
                         newVersion="4.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>