<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <connectionStrings>
      <add name="CAFM_Local"
           providerName="System.Data.SqlClient"
           connectionString="Server=.;Database=CAFM;Persist Security Info=True;User ID=UniCloud;Password=26344DB3960DD7C73A93F6EDFA95BEC0" />
    <add name="CAFM_Test"
         providerName="System.Data.SqlClient"
         connectionString="Server=.;Database=CAFM;Persist Security Info=True;User ID=UniCloud;Password=26344DB3960DD7C73A93F6EDFA95BEC0" />
    <add name="CAFM_Product"
         providerName="System.Data.SqlClient"
         connectionString="Server=.;Database=CAFM;Trusted_Connection=true;Integrated Security=True;MultipleActiveResultSets=True" />
  </connectionStrings>
  
</configuration>
