<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" targetFramework="sl50" />
  <package id="Microsoft.ServiceModel.DomainServices.EntityFramework" version="4.0.0.0" />
  <package id="Prism" version="4.1.0.0" targetFramework="sl50" />
  <package id="Prism.MEFExtensions" version="4.1.0.0" targetFramework="sl50" />
  <package id="SilverlightCommonDll" version="1.0.0" targetFramework="sl50" />
</packages>